json/antecedents/
json/documents/
json/ec/
json/ententes/
json/examens/
json/facturation/
json/factureValidation/
json/images/
json/labos/
json/odonto/
json/ordonnances/
json/paros/
json/patients/
json/photos/
json/plans/
json/ramqCredentials/
json/signatures/
json/traitements/