json/antecedents/*.json
json/documents/*.json
json/ec/*.json
json/ec/**
json/ententes/*.json
json/examens/*.json
json/facturation/**/*.json
json/facturation/**/**/log/*.xml
json/factureValidation/*.json
json/images/*.json
json/labos/*.json
json/odonto/*.json
json/ordonnances/*.json
json/paros/*.json
json/patients/*.json
json/photos/*.json
json/plans/*.json
json/ramqCredentials/*.json
json/signatures/*.json
json/traitements/*.json
json/params/codtar*.json
json/PlanTraitement/**/**/*.json
PDF/**